.accomodation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-informations {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 20px;
}

.presentation,
.tags-ratings {
    display: flex;
    flex-direction: column;
}

.tags-ratings {
    gap: 30px;
    align-items: flex-end;
}

ul {
    padding-inline-start: 0;
    /* Supprime le décalage à gauche */
}

.details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 65px;
}