@import "./Nav.css";
@import "./About.css";
@import "./Error.css";
@import "./Accomodation.css";
@import "./Footer.css";
@import "./Banner.css";
@import "./Card.css";
@import "./Collapse.css";
@import "./Slideshow.css";
@import "./SlideshowHost.css";
@import "./SlideshowTags.css";
@import "./SlideshowRating.css";

.App {
    max-width: 1900px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}