.container-collapses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-collapses ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.collapse {
    width: clamp(280px, 90vw, 1200px);
    /*height: clamp(30px, 10vh, 50px);
    border-radius: 5px;*/
    color: white;
    margin-bottom: 40px;

}

.container-title {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

.active ul,
.active p {
    background-color: #F6F6F6;
    padding: 1rem;
}

.description .collapse-content {
    padding: 1rem;
}

.equipments ul li {
    margin-top: 5px;
}

.collapse h2 {
    background-color: #FF6060;
    font-weight: 500;
    padding: 10px 0 10px 5px;
    margin: 0;
    border-radius: 5px;
}


.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.container-title i {
    transition: transform 0.3s ease-in-out;
}


.collapse-content {
    color: #FF6060;
    margin: 0;
    border-radius: 5px;
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease-in;
}

.active .collapse-content {
    visibility: visible;
    height: auto;
    overflow: visible;
    opacity: 1;
}



/** {
    box-shadow: 0 0 0 3px green inset;
}*/