footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 210px;
    margin-top: auto;
}

footer img {
    color: white;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(12px, 3vw, 24px);
    font-weight: 500;
}