.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: clamp(10px, 8vw, 50px);
    align-items: center;
}

.navigation-logo img {
    width: clamp(145px, 30vw, 241px);
}

.navigation-links ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;

}

.navigation-links ul li {
    margin: 10px;
    font-size: clamp(12px, 3vw, 24px); /* Utilisez clamp() pour définir une plage de tailles de police */
    text-decoration: none;
}

.navigation-links a {
    text-decoration: none;
    color: #FF6060;
    white-space: nowrap;
}

.navigation-links a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .navigation-links ul li {
      text-transform: uppercase; /* Transformation en majuscules à partir du breakpoint de 768px */
    }
  }