.host {
    display: flex;
    align-items: center;
    gap: 10px;
}

.host h3 {
    width: 100px;
    text-align: right;
    color: #FF6060;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: clamp(12px, 3vw, 18px);
}

.host img {
    border-radius: 50%;
    height: 65px;
    aspect-ratio: 1/1;
}