.host {
    display: flex;
    align-items: center;
    gap: 24px;
}

.host h3 {
    width: 70px;
    text-align: right;
}

.host img {
    border-radius: 50%;
    height: 65px;
    aspect-ratio: 1/1;
}