.tags ul {
    list-style-type: none;
    display: flex;
    gap: 10px;

}

.tags ul li {
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    padding: 3px 30px;
    font-size: clamp(10px, 3vw, 14px);
    color: white;
    margin: 25px 0;
    white-space: nowrap;
}