.slideshow img {
    width: clamp(300px, 90vw, 1800px);
    height: clamp(255px, 40vw, 415px);
    object-fit: cover;
    border-radius: 25px;
}

.slideshow {
    position: relative;

}

.fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    font-size: 50px;
    color: #FFFFFF;
}

.fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #FFFFFF;
}

.index-pictures {
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 18px;
    color: white;
}

* {
    box-shadow: 0 0 0 3px green inset;
}